repos:
  - repo: local
    hooks:
      - id: check-docs-updated
        name: Check if documentation is up-to-date
        entry: pdm run build-docs --check
        language: python
        additional_dependencies: [pdm]
        pass_filenames: false
        files: ^(docs/DOCUMENTATION\.template\.md|docs/diagrams/.*\.(mmd|txt))$
        always_run: true
        verbose: true