repos:
-   repo: local
    hooks:
    -   id: build-docs
        name: Build Docs (MD & RTF)
        entry: pdm run build-docs
        language: system
        pass_filenames: false
        files: ^(README\.template\.md|CONTRIBUTING\.md|docs/diagrams/.*\.mmd)$
        stages: [pre-commit]