## [{{ version }}] - {{ date }}
{% for group, commits in changes.items() %}
### {{ group | upper_first }}
{% for commit in commits %}
- **{{ commit.subject }}**
{% if commit.body %}
  {{ commit.body }}
{% endif %}
{% endfor %}
{% endfor %}
